.category-section {
    background: #f5ece1 !important;
}

.arrivals-section {
    background: #ecf5f5 !important;
}

.top-brands-section {
    background: #ebe5d9 !important;
}

.trending-section {
    background: #d2dee2 !important;
}

.boutique-section {
    background: #ededed !important;
}

.makeup-section {
    background: #f2e6e1 !important;
}